* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container1 {
  background-color: yellow;
}
.container1 h2 {
  font-size: 35px;
  color: #721372;
}
.container1 p {
  font-size: 25px;
}
.container1 p:nth-of-type(1) {
  color: red;
}
.container1 p:nth-of-type(2) {
  color: blue;
}
.container1 p:nth-of-type(2) span {
  color: aqua;
}
.container2 h2 {
  font-size: 50px;
  color: #0e6b0e;
}
.container2 p {
  font-size: 25px;
}
